{% extends "base.html" %}
{% block contents %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <div class="main-content">
    <section class="home section">
        <div class="container">
            <div class="row">
                <div class="home-info">
                    <h2>Sobre mim</h2>
                    <p>Leandro Luz, 26 anos, brasileiro from São José dos Campos - SP, graduando no tecnólogo de Desenvolvimento de Software Multiplataforma na FATEC SJC - Jessen Vidal.</p>
                    <p>There's always a byte of code around, just take a look :)</p>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}
