{% extends "base.html" %}
{% block contents %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
    <section class="home section">
        <div class="container">
            <div class="row">
                <div class="home-info">
                    <h2>Contato</h2>
                    <p>É possivel me encontrar em algumas redes sociais, via celular e até mesmo via e-mail, eles estarão listados abaixo.</p><br>
                    <a href="https://www.linkedin.com/in/leandro-f-luz/" target="_blank">LinkedIn</a><br>
                    <a href="https://github.com/l3androluz" target="_blank">Github</a><br>
                    <a href="https://instagram.com/l3androluz" target="_blank">Instagram</a>
                    <p>(12) 99619-7663</p>
                    <p>leandro.ferraz.luz@gmail.com</p>
                    <p><b>Obrigado por chegar até aqui :)</p></b>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}